p {
    font-weight: 900;
}

header {
    background-color: black;
    color: white;
    margin-right: 25%;
    text-align: center;
    padding: 5px;
}

footer {
    margin-right: 25%;
    background-color: bisque;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    width: auto;
    height: 100%;
    float: left;
    padding: 5px;
}

ul li {
    list-style-type: none;
}

.icon_style {
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    margin-left: -25px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.computer_basic {
    background-image: url("./icon/knowledge.png");
}

.android_skill {
    background-image: url("./icon/android_skill.png");
}

.peoples {
    background-image: url("./icon/peoples.png");
}

.third_party {
    background-image: url("./icon/third_party.png");
}

.sliding {
    margin: 0;
    height: 100%;
    position: fixed;
    right: 0;
    color: white;
    width: 25%;
    text-align: left;
    background-color: #f0f0e9;
}

.content {
    padding-left: 20px;
    margin-right: 25%;
}

body {
    margin: 0;
    padding: 0;
}

.anyway {
    font-weight: bold;
}

.personal_message {
    margin-top: 40%;
    color: #333333;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.personal_message_list {
    margin: 10px;
}

.name {
    background-image: url("./icon/name.png");
}

.gender {
    background-image: url("./icon/gender.png");
}

.work_time {
    background-image: url("./icon/work_time.png");
}

.age {
    background-image: url("./icon/age.png");
}

.working_location {
    background-image: url("./icon/working_location.png");
}

.phone {
    background-image: url("./icon/phone.png");
}

.wechat {
    background-image: url("./icon/wechat.png");
}

.email {
    background-image: url("./icon/email.png");
}

.GitHub {
    float: left;
    margin-left: 20px;
    list-style-type: disc;
    color: red;
    background-image: url("./icon/github.png");
}

.LeetCode {
    float: left;
    margin-left: 40px;
    list-style-type: disc;
    color: red;
    background-image: url("./icon/global.png");
}

.link_out {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

a:hover, a:active {
    background-color: #cc0000;
}

a {
    text-decoration: none;
}

.location_self {
    background-image: url("./icon/location_self.png");
    height: 45px;
}

.work {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("./icon/work.png");
}

.solve_problem {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("./icon/solve_problem.png");
}

.view {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("./icon/view.png");
}

.develop {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("./icon/develop.png");
}

.goodness {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("./icon/goodness.png");
}

.badness {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("./icon/badness.png");
}

.wanmen{
    margin-left: 15px;
    background-image: url("./icon/wanmen.png");
}

.huizhuang{
    margin-left: 15px;
    background-image: url("./icon/huizhuang.jpg");
}

.tianheshiwei{
    margin-left: 15px;
    background-image: url("./icon/tianheshiwei.jpg");
}