p {
    font-weight: 900;
}

header {
    background-color: white;
    color: #999999;
    margin-right: 23%;
    margin-left: 15px;
    font-weight: 900;
    font-family: Georgia, serif;
    text-align: left;
    padding: 5px;
    margin-bottom: 9px;
}

footer {
    margin-right: 23%;
    background-color: white;
    color: #999999;
    clear: both;
    text-align: center;
    padding: 5px;
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    width: auto;
    height: 100%;
    float: left;
    padding: 5px;
}

ul li {
    list-style-type: none;
    margin: 10px;
}

.icon_style {
    height: auto;
    line-height: 20px;
    padding-left: 25px;
    margin-left: -25px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.skill_company_title {
    font-size: 1.2em;
}

.computer_basic {
    background-image: url("./icon/knowledge.png");
}

.android_skill {
    background-image: url("./icon/android_skill.png");
}

.peoples {
    background-image: url("./icon/peoples.png");
}

.third_party {
    background-image: url("./icon/third_party.png");
}

.sliding {
    margin: 0;
    height: 100%;
    position: fixed;
    right: 0;
    color: white;
    width: 23%;
    text-align: left;
    background-color: #f0f0e9;
    overflow: scroll;
}

.content {
    padding-left: 20px;
    margin-right: 23%;
}

body {
    margin: 0;
    padding: 0;
}

.anyway {
    margin-left: 25px;
    font-weight: bolder;
    font-size: 1.2em;
    background-image: url("./icon/anyway.png");
}

.personal_message {
    margin-top: 20%;
    color: #333333;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.personal_message_list {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.name {
    color: #666666;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Kaiti SC", serif;
    margin-top: 15%;
}

.i_want_job {
    margin-top: 20px;
    color: #666666;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: "Heiti SC", serif;
}

#find_job_img {
    width: 25px;
    height: 25px;
}

.gender {
    background-image: url("./icon/gender.png");
}

.work_time {
    background-image: url("./icon/work_time.png");
}

.age {
    background-image: url("./icon/age.png");
}

.working_location {
    background-image: url("./icon/working_location.png");
}

.phone {
    background-image: url("./icon/phone.png");
}

.wechat {
    background-image: url("./icon/wechat.png");
}

.email {
    background-image: url("./icon/email.png");
}

.my_home{
    background-image: url("./icon/my_home.png");
}

.GitHub {
    font-size: 1.1em;
    float: left;
    margin-left: 20px;
    list-style-type: disc;
    color: red;
    background-image: url("./icon/github.png");
}

.LeetCode {
    font-size: 1.1em;
    float: left;
    margin-left: 40px;
    list-style-type: disc;
    color: red;
    background-image: url("./icon/global.png");
}

.link_out {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}

a:hover, a:active {
    background-color: gold;
}

a {
    text-decoration: none;
}

.location_self {
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("./icon/location_self.png");
    height: auto;
}

.work {
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("./icon/work.png");
}

.solve_problem {
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    background-image: url("./icon/solve_problem.png");
}

.view {
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    background-image: url("./icon/view.png");
}

.develop {
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    background-image: url("./icon/develop.png");
}

.goodness {
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    background-image: url("./icon/goodness.png");
}

.badness {
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    background-image: url("./icon/badness.png");
}

.wanmen {
    margin-left: 15px;
    background-image: url("./icon/wanmen.png");
}

.huizhuang {
    margin-left: 15px;
    background-image: url("./icon/huizhuang.jpg");
}

.tianheshiwei {
    margin-left: 15px;
    background-image: url("./icon/tianheshiwei.jpg");
}

.skill_list li {
    list-style-type: none;
    background-size: 20px;
    padding-left: 25px;
    margin-left: -25px;
    background-repeat: no-repeat;
    background-image: url("./icon/skill_navigation.png");
}

.task_list li {
    list-style-type: none;
    background-size: 20px;
    padding-left: 25px;
    margin-left: -25px;
    background-repeat: no-repeat;
    background-image: url("./icon/task_work.png");
}

#university {
    margin-left: 12px;
    width: 44px;
    height: 44px;
    float: left;
}

.university {
    margin-top: 50%;
}

.major {
    color: gray;
}

#major {
    margin-left: 66px;
}

.profile {
    color: #999999;
    display: inline;
    margin-top: 30px;
    font-weight: bold;
    font-size: xx-large;
    font-family: Georgia, serif;
    margin-left: 10px;
}

.profile_img {
    display: inline;
    margin-left: 30px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

.profile_div {
    margin-bottom: 11px;
}

.cut_line {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: #ddd;
    line-height: 1px;
    text-align: center;
}